* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* Shared Items */
.background {
    background-color: #1A0B2E;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.custom-heading {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
}
.custom-description {
    font-size: 1rem;
    color: #aa9fb8;
    line-height: 24px;
    text-decoration: none;
}
.btn-primary {
    border: none;
    background: linear-gradient(45deg, #f7e93f,#fb0ab3,#9200f7);
    padding: 12px 16px;
    border-radius: 40px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
/* Header Section */
.header-section {
    border-bottom: 1px solid #412567;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 20px 0;
}
.nav-logo img {
    width: 100%;
}
.nav-links {
    display: flex;
    gap: 30px;
}
.nav-item {
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 1rem;
    color: white;
    transition: 0.3s;
}
.nav-link:hover {
    color: #fb0ab3;
}
.nav-btn {
    cursor: pointer;
    transition: 0.3s;
}
.nav-btn:hover {
    background: transparent;
    color: #fb0ab3;
}
nav .fa-bars {
    display: none !important;
}
/* Hero Section */
.hero-section {
    background: url(./assets/hero-bg.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-container {
    padding-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-img {
    width: 400px;
    height: 400px;
    padding: 80px 120px;
    border-radius: 100%;
    border: 8px solid #2a186c;
    background: linear-gradient(45deg, #f7e93f,#fb0ab3,#9200f7);
    display: flex;
    justify-items: center;
    position: relative;
}
.hero-img img {
    width: 100%;
}
.new {
    position: absolute;
    left: 70%;
    top: -1%;
    background-color: #00FF88;
    padding:8px 20px;
    border-radius: 40px;
    font-size: 1.125rem;
    font-weight: 600;
    box-shadow: 0 0 20px #00FF88;
}
.hero-content {
    text-align: center;
    margin-top: 40px;
}
.hero-heading {
    font-size: 3.75rem;
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 10px;
}
.hero-btn {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.hero-btn1 {
    padding: 12px 20px;
    transition: 0.3s;
}
.hero-btn1:hover {
    background: transparent;
    color: #fb0ab3;
}
.btn-secondary {
    border:2px solid #00FF88;
    background-color: transparent;
    color: #00FF88;
    padding: 12px 20px;
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.btn-secondary:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
}

/* Responsive */
@media screen and (max-width: 576px) {
    .nav-links {
        display: none;
    }
    .nav-btn {
        display: none;
    }
    .nav-logo h2 {
        font-size: 2rem
    }
    nav .fa-bars {
        cursor: pointer;
        color: #ffffff;
        display: block !important;
    }
    .hero-section {
        height: 35vh;
        margin-top: 80px;
    }
    .hero-container {
        padding-top: 20px;
    }
    .hero-heading {
        font-size: 2.5rem;
    }
    .hero-img {
    width: 200px;
    height: 200px;
    padding: 40px 50px 50px 50px;
    border-radius: 100%;
    }
    .hero-img img {
        width: 100%;;
        height: 100px;
    }
}
@media screen and (max-width: 1200px) {
    .navbar {
        width: 95%;
        margin: 0 auto;
    }
}