* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* Shared Items */
.background {
    background-color: #1A0B2E;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.custom-heading {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
}
.custom-heading2 {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 700;
}
.custom-description {
    font-size: 1rem;
    color: #aa9fb8;
    line-height: 24px;
    text-decoration: none;
}
.btn-primary {
    border: none;
    background: linear-gradient(45deg, #f7e93f,#fb0ab3,#9200f7);
    padding: 12px 16px;
    border-radius: 40px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
/* Header Section */
.header-section {
    border-bottom: 1px solid #412567;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 20px 0;
}
.nav-logo img {
    width: 100%;
    cursor: pointer;
}
.nav-links {
    display: flex;
    gap: 30px;
}
.nav-item {
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 1rem;
    color: white;
    transition: 0.3s;
}
.nav-link:hover {
    color: #fb0ab3;
}
.nav-btn {
    cursor: pointer;
    transition: 0.3s;
}
.nav-btn:hover {
    background: transparent;
    color: #fb0ab3;
}
nav .fa-bars {
    display: none !important;
}
/* Hero Section */
.hero-section {
    background: url(./assets/hero-bg.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-container {
    padding-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-img {
    width: 400px;
    height: 400px;
    padding: 80px 120px;
    border-radius: 100%;
    border: 8px solid #2a186c;
    background: linear-gradient(45deg, #f7e93f,#fb0ab3,#9200f7);
    display: flex;
    justify-items: center;
    position: relative;
}
.hero-img img {
    width: 100%;
}
.new {
    position: absolute;
    left: 70%;
    top: -1%;
    background-color: #00FF88;
    padding:8px 20px;
    border-radius: 40px;
    font-size: 1.125rem;
    font-weight: 600;
    box-shadow: 0 0 20px #00FF88;
}
.hero-content {
    text-align: center;
    margin-top: 40px;
}
.hero-heading {
    font-size: 3.75rem;
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 10px;
}
.hero-btn {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.hero-btn1 {
    padding: 12px 20px;
    transition: 0.3s;
}
.hero-btn1:hover {
    background: transparent;
    color: #fb0ab3;
}
.btn-secondary {
    border:2px solid #00FF88;
    background-color: transparent;
    color: #00FF88;
    padding: 12px 20px;
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.btn-secondary:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
}
/* About section */
.about-section {
    margin-top: 100px;
}
.about-heading {
    text-align: center;
    margin-bottom: 20px;
}
.about-description1 {
    text-align: center;
    margin-bottom: 40px;
}
.about-description2 {
    text-align: center;
    margin-bottom: 60px;
}
hr {
    border: none;
    background-color: #412567;
    height: 1px;
}
.ratings {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.rating {
    text-align: center;
}
.rating h3 {
    color: #00FF88;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.techwave-section {
    margin-top: 100px;
    background-color: #230E3D;
    padding: 100px 0;
}
.techwave-section h2 {
    text-align: center;
}
.techwave-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 380px);
    gap: 30px;
}
.box-1 {
    background-color: #2a0f4d;
    grid-row: span 2;
    grid-column: span 1;
    padding: 80px 40px 20px 40px;
    border-radius: 40px;
}
.box-1 img {
    margin-bottom: 20px;
}
.box-1 h3 {
    margin-bottom: 20px;
}
.box-2 {
    background-color: #2a0f4d;
    grid-row: span 1;
    grid-column: span 2;
    padding: 40px;
    border-radius: 40px;
}
.box-2 img {
    margin-bottom: 20px;
}
.box-2 h3 {
    margin-bottom: 20px;
}
.box-3 {
    background-color: #2a0f4d;
    grid-row: span 1;
    grid-column: span 2;
    padding: 40px;
    border-radius: 40px;
}
.box-3 img {
    margin-bottom: 20px;
}
.box-3 h3 {
    margin-bottom: 20px;
}
.box-4 {
    background-color: #2a0f4d;
    grid-row: span 1;
    grid-column: span 2;
    padding: 40px;
    border-radius: 40px;
}
.box-4 img {
    margin-bottom: 20px;
}
.box-4 h3 {
    margin-bottom: 20px;
}
.box-5 {
    background-color: #2a0f4d;
    grid-row: span 1;
    grid-column: span 1;
    padding: 40px;
    border-radius: 40px;
}
.box-5 img {
    margin-bottom: 20px;
}
.box-5 h3 {
    margin-bottom: 20px;
}
/* Feature Section */
.feature-section {
    margin-top: 100px;
}
.feature-heading {
    text-align: center;
}
.feature-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.feature{
    background-color: #250d44;
    border-radius: 25px;
    overflow: hidden;
}
.video-heading{
    margin-top: 20px;
    padding: 0 25px;
    margin-bottom: 20px;
}
.video-description{
    padding: 0 25px;
    margin-bottom: 20px;
}
.feature iframe {
    width: 100%;
    height: 200px;
}
.video-timer {
    color: #00FF88;
    padding: 0 25px 25px 25px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
/* Meet Section */
.meet-section {
    margin-top: 100px;
}
.meet-heading {
    text-align: center;
}
.meet-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #250d44;
    padding: 40px;
    border-radius: 40px;
}
.host-heading {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.host-links {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.host-items {
    list-style: none;
}
.host-link {
    text-decoration: none;
    border:1px solid #533c72;
    padding: 14px 16px;
    border-radius: 100%;
    transition: 0.3s;
}
.host-link3 {
    text-decoration: none;
    border:1px solid #533c72;
    padding: 16px 16px 12px 16px;
    border-radius: 100%;
}
.host-link4 {
    text-decoration: none;
    border:1px solid #533c72;
    padding: 17px 14px 11px 14px;
    border-radius: 100%;
}
.host-link:hover{
    background-color: #533c72;
}
.host-link3:hover{
    background-color: #533c72;
}
.host-link4:hover{
    background-color: #533c72;
}
/* Responsive */
@media screen and (max-width: 576px) {
    .nav-links {
        display: none;
    }
    .nav-btn {
        display: none;
    }
    .nav-logo h2 {
        font-size: 2rem
    }
    nav .fa-bars {
        cursor: pointer;
        color: #ffffff;
        display: block !important;
    }
    .hero-section {
        height: 35vh;
        margin-top: 80px;
    }
    .hero-container {
        padding-top: 18px;
    }
    .hero-heading {
        font-size: 2.5rem;
    }
    .hero-img {
    width: 200px;
    height: 200px;
    padding: 40px 50px 50px 50px;
    border-radius: 100%;
    }
    .hero-img img {
        width: 100%;;
        height: 100px;
    }
    .about-section {
        margin-top: 250px;
    }
    .about-heading {
        font-size: 2rem;
    }
    .ratings {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .rating h3 {
        font-size: 2.5rem;
    }
    .techwave-section h2 {
        font-size: 2rem;
    }
    .techwave-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
    }
    .box-1 {
        grid-column: span 1;
        grid-row: span 1;
    }
    .box-2 {
        grid-column: span 1;
        grid-row: span 1;
    }
    .box-3 {
        grid-column: span 1;
        grid-row: span 1;
    }
    .box-4 {
        grid-column: span 1;
        grid-row: span 1;
    }
    .box-5 {
        grid-column: span 1;
        grid-row: span 1;
    }
    .feature-heading {
        font-size: 2rem;
    }
    .feature-container {
        padding:0 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .meet-heading {
        font-size: 2rem;
        margin-bottom: 40px;
    }
    .meet-container {
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        text-align: center;
    }
    .host-heading {
        font-size: 1.5rem;
    }
    .host-links {
        justify-content: center;
    }
}
@media screen and (max-width: 1200px) {
    .navbar {
        width: 90%;
        margin: 0 auto;
    }
}