* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* Shared Items */
.background {
    background-color: #1A0B2E;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.custom-heading {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
}
.custom-description {
    font-size: 1rem;
    color: #aa9fb8;
    line-height: 24px;
    text-decoration: none;
}
.btn-primary {
    background: linear-gradient(45deg, #f7e93f,#fb0ab3,#9200f7);
    padding: 12px 16px;
    border-radius: 40px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
/* Header Section */
.header-section {
    border-bottom: 1px solid #412567;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 20px 0;
}
.nav-logo h2 {
    font-size: 2.8rem;
    color: #ffffff;
    font-weight: 700;
}
.nav-logo span {
    background: linear-gradient(10deg, #f7e93f,#fb0ab3,#9200f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links {
    display: flex;
    gap: 30px;
}
.nav-item {
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 1rem;
    color: white;
    transition: 0.3s;
}
.nav-link:hover {
    color: #fb0ab3;
}
.nav-btn {
    cursor: pointer;
    transition: 0.3s;
}
.nav-btn:hover {
    background: transparent;
    color: #ffffff;
}
nav i {
    display: none !important;
}
/* Responsive */
@media screen and (max-width: 576px) {
    .nav-links {
        display: none;
    }
    .nav-btn {
        display: none;
    }
    .nav-logo h2 {
        font-size: 2rem;
    }
    nav i {
        cursor: pointer;
        color: #ffffff;
        display: block !important;
    }
}
@media screen and (max-width: 1200px) {
    .navbar {
        width: 95%;
        margin: 0 auto;
    }
}